.new-task-form {
    margin: 0 auto;
    width: 22%;
    min-width: 250px;

    /* Prevent border overflow by input field */
    padding-left: 15px;

    border: 1px solid black;
    border-radius: 20px;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.task-name-input, .task-name-input:active {
    flex-grow: 1;

    /* Cause browser give width to input element by default and it's prevent shrinking */
    min-width: 85%;
    
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;
    padding: 10px;
    color: black;
}

.add-task-button {
    padding: 0px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    font-size: 110%;
    outline: none;
    background-color: white;
    color: gray;
}

.add-task-button:hover {
    color: black;
}

.remove-all-button, .download-json, .upload-json {
    display: inline;
    cursor: pointer;
    border: none;
    font-size: 120%;
    font-family: inherit;
    outline: none;
    color: grey;
    background-color: transparent;

    padding: 0 1em 0 0;
}

.download-json {
    padding: 4px 5px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.upload-json {
    padding: 4px 5px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.remove-all-button {
    float: right;
    padding: 4px 6px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.remove-all-button:hover, .download-json:hover, .upload-json:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.603);
    transition: all ease 0.5s;
}

.menu {
    width: calc(100vw - 2em);
    position: fixed;
    bottom: 1em;
    left: 1em;
}


/* media q. in spec. file doesn't work correctly */
@media (max-width: 320px) {
    .new-task-form {
        min-width: 100%;
    }

    .task-name-input, .task-name-input:active {
        min-width: 70%;
    }

}