@import url('./navigation.css');
@import url('./controls.css');
@import url('./tasks.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--darker);    
}

* {
    margin: 0;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 1em;
    height: calc(100vh - 2em);
}

.header {
    margin: 5px 0 15px 0;
}

main {
    padding-top: 15px;
}
