.tab {
	cursor: pointer;
	border: none;
	border-bottom: 1px solid black;
	font-size: 100%;
	font-family: inherit;
	outline: none;
	text-align: center;
	background-color: transparent;
	color: black;
	padding: 10px;
}

.tab.drop-area {
	font-weight: 600;
}

.tab:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.active-tab {
	border: 1px solid black;
	border-bottom: none;
}

nav::after, nav::before {
	content: " ";
	border-bottom: 1px solid black;
	border-left: none;
	flex-basis: 0;
	flex-grow: 5;
}

@media (max-width: 320px) {
	nav::after, nav::before {
		display: none;
	}

	#tab-month,
	#tab-today,
	#tab-tomorrow,
	#tab-week {
		flex-grow: 1;
		border: none;
	}
}
