.tab {
    cursor: pointer;
    border: 1px solid black;
    font-size: 100%;
    font-family: inherit;
    outline: none;
    
    background-color: transparent;
    color: black;
    font-weight: 600;
    padding: 10px;
}

.tab + * {
    border-left: none;
}

.tab:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.active-tab {
    border-bottom: none;
}

.tab-today {
    flex-basis: 1%;
    flex-grow: 1;
    text-align: center;
    flex-shrink: 3;
}

.tab-tomorrow {
    flex-basis: 1%;
    flex-grow: 1;
    text-align: center;
    flex-shrink: 3;
}

.tab-week {
    flex-basis: 130px;
    text-align: right;
    flex-grow: 3;
    flex-shrink: 2;
}

.tab-month {
    text-align: right;
    flex-grow: 5;
    flex-basis: 320px;
    flex-shrink: 1;
}

@media (max-width: 640px) {
    .tab-month {
        border-left: 1px solid black;
        border-bottom: none;
    }

    .tab-month.active-tab {
        border-bottom: none;
    }
    
    .active-tab {
        border-bottom: 1px solid black;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

@media (max-width: 320px) {
    .tab-week {
        border-left: 1px solid black;
        border-bottom: none;
    }
}

@media (max-width: 190px) {
    .tab-tomorrow {
        border-left: 1px solid black;
        border-bottom: none;
        text-align: left;
    }

    .tab-today, .tab-month, .tab-week {
        text-align: left;
    }
}

