.list {
    display: none;
}

.active-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-items: stretch;

    max-height: 60vh;
    overflow-x: auto;
}

.task {
    display:  flex;
    flex-direction: row;
    align-items: flex-start;

    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 20%;
    min-width: 300px;
}

.task-name {
    /* Name is growing and delete button displayed at the end without float */
    flex-grow: 2;
    max-width: 80%;
    overflow-wrap: break-word;

    /* necessary magic number */
    padding-top: 1px;
}

.task:hover {
    border-color: black;
}

.task:hover .task-delete-button {
    visibility: visible;
}

.task-delete-button {
    visibility: hidden;

    /* another necessary magic number  */
    padding-top: 2px;
}

.task-delete-button, .task-complete-button {
    display: inline;
    cursor: pointer;
    border: none;
    font-size: 100%;
    font-family: inherit;
    outline: none;
    color: grey;
    background-color: white;
}

.task-delete-button:hover {
    color: firebrick;
}

.task-complete-button {
    font-size: 120%;
    padding-left: 0;
    padding-right: 10px;
}

.task-complete-button:hover {
    color: darkslategray;
}

.task-complete-button:active {
    color: var(--green)
}

.complete .task-name {
    text-decoration: line-through;
}

.complete .task-complete-button {
    color: green;
}

@media (max-width: 320px) {
    .active-list {
        overflow-x: unset;
        overflow-y: auto;
    }
}