.list {
    display: none;
}

.active-list {
    height: calc(100% + 15px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-items: stretch;
    overflow-x: auto;
    padding: 15px 0 0;
    
    margin-left: calc(1em - 10px);
    margin-right: calc(1em - 10px);
}

.active-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.task {
    display:  flex;
    flex-direction: row;
    align-items: flex-start;

    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    max-width: 20%;
    min-width: var(--task-min-width);

    transition: all ease 0.4s;
}

.task:hover {
    border-color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.459);
    transition: all ease 0.4s;
}

.drop-area {
    border: 2px solid black;
    transition: none;
}

.task-name {
    /* Name is growing and delete button displayed at the end without float */
    flex-grow: 2;
    width: 80%;
    overflow-wrap: break-word;

    padding-left: 10px;

    /* necessary magic number */
    padding-top: 1px;
}

.task:hover .task-delete-button {
    visibility: visible;
}

.task-delete-button {
    visibility: hidden;

    /* another necessary magic number  */
    padding-top: 2px;
}

.task-delete-button, .task-complete-button {
    display: inline;
    cursor: pointer;
    border: none;
    font-size: 100%;
    font-family: inherit;
    outline: none;
    color: grey;
    background-color: transparent;
}

.task-delete-button:hover {
    color: firebrick;
}

.task-complete-button {
    font-size: 120%;
    padding: 0;
    border-radius: 50%;
}

.task-complete-button:hover {
    color: darkslategray;
}

.task-complete-button:active {
    color: var(--green)
}

.complete .task-name {
    text-decoration: line-through;
}

.complete .task-complete-button {
    color: green;
}

.animate-complete {
    animation: pulse var(--animation-duration);
    box-shadow: 0 0 0 0px green;
}

/* Adding space for correct shadow displaying */
.list::after {
    content: "-";
    color: var(--background-color);
    margin-left: 50vw;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(0,100,0,1); }
    100% { box-shadow: 0 0 0 10px rgba(0,100,0,0); }
}  

@media (max-width: 1920px) {
    .task {
        min-width: calc((100vw - 2em - 40px)/5);
    }
}

@media (min-width: 1024px) {
    .task {
        min-width: calc((100vw - 2em - 30px)/4);
    }
}

@media (max-width: 1024px) {
    .task {
        min-width: calc((100vw - 2em - 20px)/3);
    }
}

@media (max-width: 640px) {
    .task {
        min-width: calc(50vw - 1em - 5px);
    }
}

@media (max-width: 480px) {
    .task {
        /* Full width minus left and right margins */
        min-width: calc(100vw - 2em);
    }

    .active-list {
        height: 100%;
        flex-wrap: nowrap;
        scrollbar-width: none;
        overflow-x: unset;
        overflow-y: auto;
    }

    /* Making scrollbar invisible */
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}

@media (max-width: 320px) {
    .active-list {
        overflow-x: unset;
        overflow-y: auto;
    }
}